---
layout: page
title: Categories
---

<div class="page">
  <h1 class="post-title">{{ page.title }}</h1>
  <div class="category-container">
    {% for category in site.categories %}
    <div class="category-box">
      <a href="{{ site.baseurl }}{{ category | first }}.html">
        {{ category | first }}
      </a>
    </div>
    {% endfor %}
  </div>
  <!-- {% for post in site.posts %}
  <h3 class="post-title"><a href="{{ site.baseurl }}{{ post.url }}"
    >{{ post.title }}</a></h1>
    <span class="post-date">{{ post.date | date_to_string }}</span>
  {% endfor %} -->
</div>
